/* Hack para IE */

/* Menu */
.menuBtnSuspenso {
    top: 74px;
    margin-left: -18px;
    padding: 10px;
    font-size: 11px;
    text-align: left;
    background: rgb(239, 239, 239);
    position: absolute;
    display: none;
}